<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Contentparser Widget Index</title>
</head>

<body>
	<h1>Contentparser Index Template</h1>

	<!-- ###TEMPLATE_INDEX### begin -->
	<div class="f3-contentparser-widget-index">
		###INDEX_ALL### 
		<!-- ###INDEX_CONTENT###-->
			<!-- ###ITEM###-->		
				###SINGLE_CHAR###
			<!-- ###ITEM### begin -->
		<!-- ###INDEX_CONTENT###-->
	</div>
	<!-- ###TEMPLATE_INDEX### end -->
</body>
</html>
